<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="./img/weather.png">
  <link rel="stylesheet" href="./css/style.css">
  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{> header }}
    <p>This site was created by Vaibhav Singh. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="./img/albert-einstein-sticker.jpg" alt="HelloPeople">
  </div>
  {{> footer }}
</body>

</html>